* {
	margin: 0px;
}

html {
	box-sizing: border-box;
}

html {
	margin:0;
	padding:0;
	height:100%;
}

body {
	height: 100%;
}



*,
*::before,
*::after {
	box-sizing: inherit;
}


#root {
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

footer {
	
	bottom: 0;
	width: 100%;
    text-align: center;
	font-size: 25px; 
	  
}

footer a {
    color: black;
}

footer a:hover {
    color: #e2086f;
}

#divForCartBackground {
	position: fixed;
	top: 0px;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.6;
	transition: left 1s ease-in-out 0s;
}

#divForCartBackground.activeBack {
	transition: left 1s ease-in-out 0s;
	left: 0px;
}



