main {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 100%;
	animation: 2s ease 0s 1 normal none running fadeIn;
}

.carousel .carousel-item {
	height: 513px;
	cursor: pointer;
	
}

.carousel-item img {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	min-height: 513px;
	
}



.carousel-control-next-icon {
	display: none;
}

.carousel-control-prev-icon {
	display: none;
}

.carousel-indicators {
	display: none;
}


a {
	color: #e2086f;
    text-decoration: none;
}


#mainContainer {
	min-height: 100%;
	flex: 1;
	max-width: 1600px;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	gap: 20px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#mainLeft {
	margin-top: 20px;
}

#mainRight {
	flex: 1;
	display: flex;
	margin-top: 20px;
	justify-items: center;
	min-height: 400px;
}

#grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;
	color: #e2086f;
	font-family: "Lobster", cursive;
}

#mainLeft img {
	width: 100%;
	max-width: 280px;
	height: auto;
	transition: transform 0.2s;
	cursor: pointer;
}

#mainLeft img:hover {
	transform: scale(1.04);
}

#mainLeft span {
	cursor: pointer;
}



.imgDiv {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 5px;
}

.homeLink {
	text-align: center;
}

a {
	color: #e2086f;
    text-decoration: none;
}

a:hover {
	color: #C90056;
    text-decoration: none;
}

@media (max-width: 900px) {
	#mainContainer {
		margin-top: 15px;
		flex-direction: column;
		align-items: center;
		gap: 0px;
	}

	#mainLeft {
		min-width: 100%;
		margin-top: 30px;
		flex: 2;
	}

	#grid {
		width: 100%;
	}

	#mainRight {
		width: 100%;
		min-height: 300px;
		margin-top: 10px;
	}

	.carousel .carousel-item {
		height: 300px;
	}

	.carousel-item img {
		min-height: 300px;
	}

	#mainLeft img {
		max-width: 500px;
	}
}


@media (max-width: 670px) {
	#mainContainer {
		padding-left: 30px;
		padding-right: 30px;
	}
	
}

@media (max-width: 500px) {
	#mainContainer {
		padding-left: 15px;
		padding-right: 15px;
	}

	
}

@media (max-width: 280px) {
	.imgDiv {
		font-size: 0.9em;
	}

	#navDivRight {
		gap: 0px;
	}

	
}
