nav {
    border-bottom: 1px solid #e2086f;
    display: flex;
    justify-content: center;
    
}


#navContainer {
    display: flex;
    flex: 1;
    color: #e2086f;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Lobster', cursive;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 1600px;
    justify-content: space-between;
    
}



#headerDiv {
    flex: 1;
    text-align: center;
}

#headerDiv h1 {
    font-size: 2.5em;
    margin-bottom: 0px;
    
}

.navDiv {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    font-size: 1.3em;
    color: #e2086f;
}

#navDivLeft {
    justify-content: flex-start;
}

.navDiv a {
    color: #e2086f;
    text-decoration: none;
    transition: transform .3s;
}

.navDiv a:hover {
    transform: scale(1.3);
}

#cart {
    width: 40px;
    padding-left: 4px;
}

i {
    cursor: pointer;
}

.navDiv a:visited {
    text-decoration: none;
}

.badge {
    padding-left: 5px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    
}



.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: #FFA17A;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}


@media (max-width: 670px) {
    #navContainer {
        padding-left: 30px;
        padding-right: 30px;
    }


    #headerDiv h1 {
        font-size: 2em;
        
        
    }

    .navDiv {
        font-size: 1em;
    }

    
}

@media (max-width: 560px) {
    #headerDiv h1 {
        font-size: 1.5em;
        
    }

    .navDiv {
        font-size: 0.7em;
        gap: 15px;
    }

    
}

@media (max-width: 500px) {
    
    #navContainer {
       padding-left: 15px;
       padding-right: 15px;
    }
}

@media (max-width: 445px) {
    #headerDiv h1 {
        font-size: 1.3em;
        
    }

    .navDiv {
        font-size: 1em;
    }

    
}

@media (max-width: 400px) {
    #headerDiv h1 {
        font-size: 1.3em;
        
    }

    .navDiv {
        font-size: 1em;
        gap: 15px;
    }

    
}


@media (max-width: 340px) {
    #headerDiv h1 {
        font-size: 1em;
        
    }

    .navDiv {
        font-size: 0.8em;
        gap: 15px;
    }

    
    
}


@media (max-width: 280px) {
    
    .navDiv {
        gap: 10px;
    }
}







