p {
    margin: 0px;
}


.productCardContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    color: #444;
    font-size: 0.8em;
    width: 100%;
    padding-bottom: 10px;
    transition: box-shadow .3s ease;
}

.productCardContainer img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    cursor: pointer;
}





.prodName {
    cursor: pointer;
    
}

.prodName:hover {
    color: #936f88;
}

.addToCartDiv {
    margin-top: 3px;
    width: 90%;
    text-align: center;

}

.addToCartDiv button {
    border: none;
    width: 80%;
    background-color: #e2086f;
    border-radius: 1em;
    color: white;
    cursor: pointer;
    outline: none;
    
}

.addToCartDiv button:hover {
   background-color: #C90056;
    
}

.productCardContainer:hover {
    box-shadow: 0 4px 7px #0000002a;
}

