p {
	margin: 0px;
}

ul {
	padding-left: 20px;
	margin: 0px;
	color: #936f88;
	list-style: none;
}



li span {
	position: relative;
	left: -15px;
	cursor: pointer;
}

#storeMainMain {
	flex: 1;
	height: 100%;
    display: flex;
    justify-content: space-around;
}

#storeMain {	
    flex: 1;
	max-width: 1600px;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 20px;
    justify-content: space-between;
}

#navButton {
	display: none;
    border: none;
    height: 30px;
    outline: none;
    cursor: pointer;
    font-family: "Lobster", cursive;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,245,249,1) 50%, rgba(255,255,255,1) 100%);
    color: #e2086f;
    border-radius: 0.5em;
}

#storeNav {
	width: 150px;
	height: 100%;
	overflow: hidden;
    margin-top: 9px;
}

#inputDiv {
    width: 150px;
}

input {
    padding-left: 10px;
    width: 124px;
    margin-bottom: 10px;
    border: 1px solid  #e2086f;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	outline: none;
    border-right: none;
	
}

#search {
	display: flex;
	flex-direction: column;
}


#search div {
	display: flex;
    
}

#search-button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28px;
	width: 30px;
	border: 0px;
	padding: 0px;
	color: gray;
	cursor: pointer;
	font-size: 30px;
    background-color: white;
    border: 1px solid #e2086f;
    border-left: none;
    padding-right: 5px;
    outline: none;

}




#storeNav.active {
	transition: height 2s;
	display: block;
	height: 320px;
}

#storeNav.active2 {
    transition: height 2s;
    height: 0px;
}



#storeProducts {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-left: 50px;
    margin-bottom: 40px;
}

.catList {
	margin-bottom: 10px;
	border-bottom: 1px solid #936f88;
}

#secondUl {
    border-bottom: none;
}

.lastInList {
	margin-bottom: 10px;
}

.catHeader {
	margin-bottom: 5px;
	font-family: "Lobster", cursive;
	color: #e2086f;
}

#productsHeader {
	display: flex;
	justify-content: space-between;
	color: #e2086f;
}

#productsHeader p {
	font-size: 2em;
	font-family: "Lobster", cursive;
	color: #e2086f;
}

#productsHeader select {
	margin-left: 10px;
	width: 100px;
	font-size: 12px;
}

#productsHeader span {
	font-family: "Lobster", cursive;
}

#selectDiv {
	display: flex;
	align-items: center;
}

#productList {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
    margin-bottom: 20px;
    gap: 15px;
    row-gap: 40px;
   
}

li:hover {
    /* color: #7A566F; */
    color: #603C55;
}

@media (max-width: 900px) {
	#productList {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 750px) {
	#storeMain {
		flex-direction: column;
		margin-top: 10px;
	}

	#navButton {
		display: block;
		margin-bottom: 5px;
	}

	#storeNav {
		width: 100%;
		height: 0px;
        margin-top: 0px;
	}

	#storeProducts {
		padding-left: 0px;
        margin-top: 1px;
	}

}

@media (max-width: 670px) {
    #storeMain {
        padding-left: 30px;
		padding-right: 30px;
    }
}

@media (max-width: 500px) {
	#storeMain {
		padding-left: 15px;
		padding-right: 15px;
	}

    #productList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 320px) {
	#productList {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 300px) {
	#selectDiv select {
        width: 60px;
    }
}
